body { 
    background-color: #E1F0DA;
}

* { 
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#nav-container { 
 width: 100%;

 margin: 0px auto;   
}

nav { 
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1F0DA;
}

.logo { 
    width: 30%;

}

.navbar-links { 
    width: 50%;
}

ul { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 30%;
    font-size: 1rem;
    list-style-type: none;
    font-family: 'Great Vibes', cursive;
    font-family: 'Sarpanch', sans-serif;
    color: #E1F0DA;
}

.logo h2 { 
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #99BC85;
}

li:hover { 
    transition: 0.5s ease-in-out;
    background-color: #D4E7C5;
    
}

.images1 { 
    display: flex;
}

.cloud1 { 
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    margin-right: 50px;
    padding-top:20px;
    opacity: 60%;
}

.cloud2 { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left:30px;
    opacity: 60%;
}

.mountain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-left: 30px;

}

.intro { 
    font-size: 2.5rem;
    text-align: center;
}

.title { 
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
}

.my-skills { 
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
    font-size: 2rem;
}

.pro { 
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
}

.introduction { 
    width: 430px;
    padding-left: 30%;
    margin-top: 50px;
    margin-left: 15%;
    background-color: #BFD8AF;
}

.section2 { 
    background-color: #BFD8AF;
    padding-top: 5px;
    padding-bottom: 20px;
}

.profile-img { 
    border-radius: 50%;
    display: flex;

    justify-content: center;
}


.title1 { 
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
    font-size: 2rem;
    display: inline-flex;
    padding-left: 30px;
    margin-top: 20px;
}

.content { 
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    padding-left:50%;
    padding: 0px;
}

.words { 
    padding-top: 30px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;

}

hr { 
    border:dotted #99BC85 6px;
    border-bottom: 0px;
    width: 4%;
    margin: 100px auto;
    display: block;
}

.title2 { 
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
}

.parent { 
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:100px auto 0 auto; 
    text-align: left;
    row-gap:2rem;
    width: 60%;

}

.skills-container { 
    display: block;
    margin-left: 20px;

}

.description { 

    margin-bottom: 20px;
    display: block;
    line-height: 2;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
    margin-left: 20px;
}

.my-goal { 
    margin-top: 20px;
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
    font-size: 2rem;
}

.parent1 { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin:100px auto 0 auto; 
    text-align: left;
    row-gap:2rem;
    width: 60%;
}



.personal-project { 
    grid-area: 2 / 1 / 3 / 2;
}

.description2 { 
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    padding-top: 30%;
    display: block;
    line-height: 2;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
    padding-right: 30px;
}

.span-color { 
    color: blue;
}

.bootstrap-project { 
    grid-area: 1 / 2 / 2 / 3;
}

.description1 { 
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    padding-top: 30%;
    display: block;
    line-height: 2;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
    padding-right: 30px;
}

.My-Mondran-project { 
    grid-area: 3 / 2 / 4 / 3;
}

.description3 { 
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
    padding-top: 30%;
    display: block;
    line-height: 2;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
    padding-right: 30px;
}

.github { 
text-align: center;
padding-bottom: 30px;
margin-left: 40px;
font-family: 'Sarpanch', sans-serif;
color: #747264;
}

.parent-contact { 
    display: block;
    margin: 100px auto 0 auto;
    width: 40%;
    text-align: center;
}

.parent-contact ul { 
    margin-left:80px ;
    padding-right: 20px;
}

.mail { 
    display: flex;
}

.github-contact > img { 
    display: flex;
}

.youtube-contact { 
    display: flex;
}

.contact-me { 
    margin-bottom: 30px;
    font-family: 'Great Vibes', cursive;
    color: #99BC85;
    font-size: 2rem;
}

.info  {
    text-align: center;
    padding-bottom: 30px;
    margin-left: 40px;
    font-family: 'Sarpanch', sans-serif;
    color: #747264;
}